html,
body {
    height: 100%;
    overflow-x: hidden;
}
.cursor-p{
    cursor:pointer;
}
.border-short-bottom{
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
}
.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 160px;
    height: 2px;
    background: rgb(187, 187, 187);
    bottom: 0;
    left: 50%;
    margin-left: -80px;
}

.bg-alpha{
    background: rgba(0, 0, 0, 0.7);
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
    height: 100%;
}

.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    top: 40%;
}
.backscreen {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.ca{
    margin: 20px 0;
}

.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after {
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}
.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover {
    transform: scale(1.2)
}
.link.is-normal {
    color: #141823;
}
a:link{
    text-decoration: none;

}
a:hover{
    color: violet;
}
.card:hover{
    box-shadow: 10px 5px 10px 0 rgb(221, 221, 221);
    transform: translate(-5px,-5px);
    color: rgb(118, 21, 209);
    transition: 0.4s;
}

.img-mem{
    position: relative;
    margin: 5px 0;
}
.img-mem::after{
    position: block;
    content: '';
    height: 0;
}
.img-mem img{
    border-radius: 50%;
    transition: 0.5s;
    top: 0;
}
.img-mem img:hover{
    transform: scale(1.04);
}
.bg-mem{
    background: rgb(101, 99, 209);
    padding: 40px 0px;
}
.mem{
    margin: 30px 0;
}

.techer{
    border: 1px solid;
    padding: 10px;
    border-radius: 16px;
    transition: 0.3s;
    margin: 10px;
}
.techer:hover{
    box-shadow: 10px 5px 20px 0 rgb(68, 1, 175);
    transform: translate(-2px,-2px);
    /* transition: 0.4s; */
}
ul{
    list-style: none;
    padding: 0;
}

.bg-footer{
    height: auto;
    margin: auto;
    padding: 40px;
}
.social{
    margin: 50px 0;
}
.social ul li{
    display: inline;
    margin: 0 20px;
}

.content{
    margin: 50px 0;
    padding: 0 0;
    width: 100%;
    height: auto;
}

.story{
    width: 60%;
    margin: 30px 0;
}

.storyp{
    font-size: 19px;
}
.comment{
    font-size: 15px;

}
